*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    max-width: 1280px;
    height: 768px;
    font-family: 'Amatic SC', cursive;
    background-image: url("../img/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 16px;
}

.contentContain{

    

}